<%= form_for @response do |f| %>

  <% if @response.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@response.errors.count, "error") %> prohibited
        this RSVP from being saved:
      </h2>
      <ul>
        <% @response.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
     <form class="col s12">
       <div class="row">
         <div class="input-field col s12">
           <%= f.label "Name or Family Name" %>
           <%= f.text_field :full_name, :required => true %>
         </div>
       </div>
      <div class="row">
       <div class="input-field col s12">
         <select>
           <option value="" disabled selected>Will you attend?</option>
           <option value="1">Yes, we'll be there!</option>
           <option value="2">Unfortunately we are unable to attend.</option>
         </select>
         <label></label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <%= f.label "Number of attendees:" %>
          <%= f.number_field :number_of_attendees %>
        </div>
      </div>
       <div class="row">
         <div class="input-field col s12">
           <%= f.label "Any food allergies we should know about?" %>
           <%= f.text_field :food_allergies %>
         </div>
       </div>
       <div class="row">
         <div class="input-field col s12">
           <%= f.label "Please name a song that will get you on the dance floor!" %>
           <%= f.text_field :song_title %><br>
         </div>
       </div>
       <div class="row">
         <div class="input-field col s12">
           <%= f.label "Artist/Band/Singer name goes here!" %>
           <%= f.text_field :singer %>
         </div>
       </div>
       <div class="row">
         <div class="input-field col s12">
           <%= f.label "Feel free to leave a message for the happy couple:" %>
           <%= f.text_field :comment %>
         </div>
       </div>

      <button class="btn waves-effect waves-light" type="submit" name="action">RSVP
        <i class="material-icons right">send</i>
      </button>

     </form>
   </div>


  <% end %>
