<h1 class="header col s12 light">Your RSVP's</h1>
<button class="btn waves-effect waves-light"><%= link_to "CSV", responses_path(format: "csv") %></button>
<table class="bordered centered striped">
       <thead>
         <tr>
             <th data-field="id">Name</th>
             <th data-field="attending">Attending</th>
             <th data-field="number_of_attendees">Number of Attendees</th>
             <th data-field="food_allergies">Allergies</th>
             <th data-field="song_title">Song Requests</th>
             <th data-field="singer">Artist</th>
             <th data-field="comment">Messages</th>
             <th>Total attendees</th>
         </tr>

       </thead>

       <tbody>
         <% @responses.each do |response| %>
         <tr>
           <td><%= response.full_name %></td>
           <td><%= response.attending %></td>
           <td><%= response.number_of_attendees %></td>
           <td><%= response.food_allergies %></td>
           <td><%= response.song_title %></td>
           <td><%= response.singer %></td>
           <td><%= response.comment %></td>
           <td><%= link_to 'Show', response_path(response) %></td> |
           <td><%= link_to 'Edit', edit_response_path(response) %></td> |
           <td><%= link_to 'Destroy', response_path(response),
                    method: :delete,
                    data: { confirm: 'Are you sure?' } %></td>
           <td><%= @response.sum(:number_of_attendees) %></td>
         </tr>
         <tr>
           <% end %>
       </tbody>
     </table>
