<!DOCTYPE html>
<html>
  <head>
    <title>KafahandDaniel</title>
    <%= csrf_meta_tags %>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <title>KafahandDaniel</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>


    <nav>
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo"><%= image_tag "animal.jpg" %></a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="/">Home</a></li>
          <li>  <%= link_to 'RSVP', new_response_path %> </li>
          <li>  <%= link_to 'All Responses', controller: 'responses' %> </li>

        </ul>
      <div class="side-menu">
        <ul class="side-nav" id="mobile-demo">
          <li>  <%= link_to 'RSVP', new_response_path %> </li>
          <li>  <%= link_to 'All Responses', controller: 'responses' %> </li>
          <img src="/assets/wedding.jpg" alt="Unsplashed background img 1">
        </ul>
      </div>
      </div>
    </nav>



    <%= yield %>


  </body>
</html>
